.App {
  width: 1200px;
  height: 1000px;
  border: 1px solid aqua;
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Wrapper {
  border: 5px solid aqua;
  border-radius: 12px;
  padding: 30px;
}
.Display {
  width: 150px;
  height: 150px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
.Active {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.Disabled {
  font-size: 50px;
  font-weight: bold;
  color: darkred;
}

.Buttons {
  padding: 15px;
  border-radius: 10px;
  border: 5px solid aqua;
}
.Button {
  background-color: aqua;
  border-radius: 8px;
}



